.fixed_picture {
    height: 250px;
    width: 100%;
    object-fit: cover;
    bottom: 0;
}
.form_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px 250px;

    .select_invalid {
        color: grey;
    }

    .input_wrapper, .select_wrapper {
        width: 100%;
        border-radius: 3px;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 15px;
    }

    .ingredient_container {
        overflow: auto;
        .input_container {
            display: flex;
            align-items: center;

            .input_wrapper {
                width: 100%;
                border-radius: 3px;
                padding: 12px 20px;
                margin-right: 8px;
                border: 1px solid #ccc;
                display: inline-block;
                box-sizing: border-box;
                font-size: 15px;
            }
            .select_wrapper {
                font-size: medium;
                width: auto;
            }
        }
    }
    
    .instruction_container {
        overflow: auto;

        .input_container {
            display: flex;
            align-items: center;

            .input_wrapper {
                width: 100%;
                border-radius: 3px;
                padding: 12px 20px;
                border: 1px solid #ccc;
                display: inline-block;
                box-sizing: border-box;
                font-size: 15px;
            }
        }
    }

    .submit_wrapper {
        width: 100%;
        border-radius: 4px;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        font-size: 15px;

        &:hover {
            background-color: #45a049;
        }
    }
}