.dropdown_wrapper {
    cursor: pointer;

    .header_wrapper {
        border: 1px solid #ccc;
        display: flex;
        margin-right: 30px;
        border-radius: 3px;
        
        .header_title {
            padding: 5px;
            border-right: 1px solid #ccc;
        }
    }

    .list_wrapper {
        border: 1px solid #ccc;
        border-radius: 3px;  

        .item{

            float: none;
        }
    }
}